.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries/Maciej.xml
.idea/dictionaries/ukasz.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/ml-notebooks.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/Transform to log space-checkpoint.ipynb
Transform to log space.ipynb
